# muvsfunc
matplotlib
# vs-mlrt
onnx
onnxconverter-common
# https://github.com/tastysugar/AssFontSubset
fonttools
# bsrt2ass
requests
# https://github.com/SAPikachu/igstools
pypng
# diffaudio
scipy
ffmpeg-python
pymediainfo
